
#mapid {
  height:93vh;
  width:70vw;
  left:-15px;
  top:-24px;
  z-index:100;
  /* position:fixed; */
}
.row {
  width: 98%;
  height: 100vh;
  margin: auto;
}

/*
.col-4 {
  overflow-y: scroll;
}
*/