.navbar-brand {
  font-family: Pattaya;
  font-size: 40pt;
  line-height: 1pt;
  text-shadow: 1px 1px 25px rgb(134, 134, 134);
}

button {
  font-family: Pattaya;
  font-size: 15pt;
  line-height: 12pt;
  letter-spacing: 3px;
  color: #FFF;
  background-color: transparent;
  border: none;
}

button:hover,
.navbar-brand:hover {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-shadow: 1px 1px 20px rgba(255, 255, 48, 0.945);
}
